<div class="container">
<form #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">

  <div class="grid">
    <div class="col-12">
     <h1>Nova Pessoa</h1>
    </div>
      <div class="col-12 md:col-12 p-fluid">
        <span class="p-float-label">
          <input type="text" pInputText
          [(ngModel)]="pessoa.nome" name="nome" #nome="ngModel" required minlength="5">
          <label for="float-input">Nome</label>
      </span>

      <p-message *ngIf="nome.hasError('required') && nome.dirty" severity="error"
    text="Informe o nome"></p-message>

      <p-message *ngIf="nome.hasError('minlength') && nome.dirty" severity="error"
    text="Mínimo de {{ nome.errors?.['minlength'].requiredLength }} caracteres."></p-message>

      </div>
      <div class="col-12  md:col-9 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.logradouro" name="logradouro" #logradouro="ngModel" required>

      <p-message *ngIf="logradouro.hasError('required') && logradouro.dirty" severity="error"
      text="Informe o logradouro"></p-message>

      </div>
      <div class="col-12  md:col-3 p-fluid">
        <label>Numero</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.numero" name="numero" #numero="ngModel" required>

      <p-message *ngIf="numero.hasError('required') && numero.dirty" severity="error"
      text="Informe o numero"></p-message>

      </div>
      <div class="col-12  md:col-4 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.complemento" name="complemento" #complemento="ngModel">
      </div>
      <div class="col-12  md:col-4 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.bairro" name="bairro" #bairro="ngModel" required>

      <p-message *ngIf="bairro.hasError('required') && bairro.dirty" severity="error"
      text="Informe o bairro"></p-message>

      </div>
      <div class="col-12  md:col-4 p-fluid">
        <label>Cep</label>
        <p-inputMask mask="99999-999"
        [(ngModel)]="pessoa.endereco.cep" name="cep" #cep="ngModel" [required]="true"></p-inputMask>

      <p-message *ngIf="cep.hasError('required') && cep.dirty" severity="error"
      text="Informe o cep"></p-message>

      </div>
      <div class="col-12  md:col-6 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.cidade" name="cidade" #cidade="ngModel" required>

        <p-message *ngIf="cidade.hasError('required') && cidade.dirty" severity="error"
        text="Informe a cidade"></p-message>

      </div>
      <div class="col-12  md:col-6 p-fluid">
        <label>Estado</label>
        <input pInputText type="text"
        [(ngModel)]="pessoa.endereco.estado" name="estado" #estado="ngModel" required>

      <p-message *ngIf="estado.hasError('required') && estado.dirty" severity="error"
      text="Informe o estado"></p-message>

      </div>
      <div class="col-12">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="p-button-info"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
  </div>

</form>
</div>
